@using ASPNET_UI_ROUTER.Util;
<!DOCTYPE html>
<html ng-app="myapp">
<head>
    <base href="/" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Meu Aplicativo ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" ui-sref="home">ASPNET UI-ROUTER</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">

                <li class='nav-item' ui-sref-active='@Html.IsActive("Home", "Index")'>
                    @*@Html.ActionLink("Início", "Index", "Home", null, new { @class = "nav-link" })*@
                    <a class="nav-link" ui-sref="home">Home</a>
                </li>
                <li class='nav-item' ui-sref-active='@Html.IsActive("About", "Index")'>
                    @*@Html.ActionLink("Sobre", "About", "Home", null, new { @class = "nav-link" })*@
                    <a class="nav-link" ui-sref="about">Sobre</a>
                </li>
                <li class='nav-item' ui-sref-active='@Html.IsActive("Contact", "Index")'>
                    @*@Html.ActionLink("Contato", "Contact", "Home", null, new { @class = "nav-link" })*@
                    <a class="nav-link" ui-sref="contact">Contact</a>
                </li>
            </ul>
            <form class="form-inline mt-2 mt-md-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <div class="container body-content">
        <div ui-view>
            @RenderBody()
            <hr />
            <footer class="container">
                <p>© Company 2017-2018</p>
            </footer>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/ViewsScripts/Ctrl")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
